# DATA CLEANING

In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_selection import VarianceThreshold

In [2]:
df=pd.read_csv("Dev_data_to_be_shared.csv")

In [3]:
df.shape

(96806, 1216)

In [5]:
df.head(5)

,account_number,bad_flag,onus_attribute_1,transaction_attribute_1,transaction_attribute_2,transaction_attribute_3,transaction_attribute_4,transaction_attribute_5,transaction_attribute_6,transaction_attribute_7,...,bureau_enquiry_47,bureau_enquiry_48,bureau_enquiry_49,bureau_enquiry_50,onus_attribute_43,onus_attribute_44,onus_attribute_45,onus_attribute_46,onus_attribute_47,onus_attribute_48
0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,0,221000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0,25000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4,0,86000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,30.0,NaN,NaN,NaN,NaN,NaN,NaN
4,5,0,215000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df1=df.loc[:, df.nunique() !=1] #removing columns with one unique value

In [ ]:
df1.shape

(96806, 1162)

In [ ]:
df2=df1.loc[:, (df1.isnull().mean()<0.7)] #removing columns with more than 70 percent NaN values

In [ ]:
df2.shape

(96806, 1146)

In [ ]:
df3 = df2.loc[:, ((df2 == 0).mean() < 0.7) | (df2.columns == 'bad_flag')] #removing columns having more than 70 percent zeros

In [ ]:
df3.shape

(96806, 506)

In [ ]:
df4 = df3.drop_duplicates()
df4.shape

(96806, 506)

In [ ]:
#remove highly correlated features to help reduce multicollinearity
corr = df4.corr().abs()
upper = corr.where(np.triu(np.ones(corr.shape), k=1).astype(bool))
to_drop = [column for column in upper.columns if any(upper[column] > 0.95)]
df4.drop(columns=to_drop, inplace=True)

In [ ]:
df4.shape

(96806, 418)

In [ ]:
selector = VarianceThreshold(threshold=0.01)
numeric_df = df4.select_dtypes(include=['number'])
low_var_cols = numeric_df.columns[~selector.fit(numeric_df).get_support()]
df4.drop(columns=low_var_cols, inplace=True)

In [ ]:
df4.shape

(96806, 369)

In [ ]:
df4.to_csv('cleaner_data.csv', index=False)

In [ ]:
df5=pd.read_csv('cleaner_data.csv')

In [ ]:
df5.shape

(96806, 369)

In [ ]:
df5.describe()

,account_number,bad_flag,onus_attribute_1,transaction_attribute_10,transaction_attribute_11,transaction_attribute_12,transaction_attribute_19,transaction_attribute_20,transaction_attribute_21,transaction_attribute_25,...,bureau_enquiry_25,bureau_enquiry_30,bureau_enquiry_31,bureau_enquiry_32,bureau_enquiry_35,bureau_enquiry_40,bureau_enquiry_41,bureau_enquiry_42,bureau_enquiry_45,bureau_enquiry_50
count,96806.000000,96806.000000,7.157500e+04,71575.000000,71575.000000,71575.000000,7.157500e+04,71575.000000,71575.000000,71575.000000,...,94212.000000,94212.000000,94212.000000,94212.000000,94212.000000,94212.000000,94212.000000,94212.000000,94212.000000,94212.000000
mean,48403.500000,0.014173,1.542391e+05,185.067958,0.125589,128.223156,7.805708e+02,0.124778,442.541135,1103.073240,...,0.907644,2.826254,10.787246,0.852673,2.344192,5.584957,15.634739,1.235501,3.609147,7.800673
std,27945.629417,0.118203,1.729925e+05,2112.031831,0.825601,1392.113382,2.333671e+04,1.557455,5382.351729,9050.013304,...,1.970776,3.766007,11.331686,1.701539,4.140524,6.576456,15.752180,2.197361,5.963971,8.655149
min,1.000000,0.000000,2.500000e+04,-9287.000000,0.000000,0.000000,-1.013449e+04,0.000000,-6669.000000,-13498.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24202.250000,0.000000,5.900000e+04,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,0.000000,3.000000,0.000000,0.000000,1.000000,4.000000,0.000000,0.000000,2.000000
50%,48403.500000,0.000000,1.000000e+05,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,...,0.000000,1.000000,7.000000,0.000000,1.000000,3.000000,11.000000,0.000000,1.000000,5.000000
75%,72604.750000,0.000000,1.810000e+05,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,...,1.000000,4.000000,15.000000,1.000000,3.000000,8.000000,22.000000,2.000000,5.000000,11.000000
max,96806.000000,1.000000,2.800000e+06,170000.000000,44.000000,90000.000000,5.225018e+06,180.000000,450000.000000,671587.000000,...,49.000000,53.000000,172.000000,43.000000,96.000000,90.000000,297.000000,59.000000,134.000000,102.000000

In [ ]:
# 1. By data type
categorical_cols = df5.select_dtypes(include=['object', 'category']).columns.tolist()

# 2. By unique values (for numerics)
for col in df5.select_dtypes(include=['int64', 'int32', 'float64']).columns:
    if df[col].nunique() < 20 and col != 'bad_flag':
        categorical_cols.append(col)

categorical_cols = list(set(categorical_cols))
print("Likely categorical columns:", categorical_cols)

Likely categorical columns: ['bureau_357', 'bureau_358', 'bureau_317', 'bureau_355', 'onus_attribute_10', 'bureau_5', 'bureau_83', 'bureau_318', 'onus_attribute_13', 'bureau_278', 'bureau_103', 'bureau_93', 'onus_attribute_19']

In [ ]:
import pandas as pd
from sklearn.impute import SimpleImputer

numerical_cols = [col for col in df5.columns if col not in categorical_cols]

# Impute numerical columns with mean
df5[numerical_cols] = df5[numerical_cols].fillna(df5[numerical_cols].mean())
# Impute categorical columns with mode
df5[categorical_cols] = df5[categorical_cols].fillna(df5[categorical_cols].mode().iloc[0])

correlation

In [ ]:
import pandas as pd
import numpy as np

# Calculate absolute correlation with the target
corr = df5.corr()['bad_flag'].abs().sort_values(ascending=False)

# Exclude the target itself
corr = corr.drop('bad_flag')

# Get top 100 features
top_100 = corr.head(100).index.tolist()
print("Top 100 correlated features:", top_100)

Top 100 correlated features: ['onus_attribute_2', 'onus_attribute_17', 'bureau_enquiry_11', 'bureau_enquiry_21', 'bureau_enquiry_31', 'bureau_enquiry_41', 'bureau_enquiry_1', 'bureau_enquiry_35', 'bureau_enquiry_25', 'bureau_enquiry_45', 'transaction_attribute_619', 'bureau_439', 'bureau_14', 'bureau_105', 'bureau_21', 'bureau_108', 'bureau_115', 'transaction_attribute_189', 'bureau_98', 'bureau_95', 'transaction_attribute_515', 'transaction_attribute_98', 'transaction_attribute_332', 'bureau_432', 'bureau_85', 'bureau_enquiry_50', 'bureau_2', 'bureau_426', 'bureau_enquiry_10', 'bureau_enquiry_40', 'bureau_429', 'bureau_278', 'transaction_attribute_333', 'bureau_enquiry_20', 'bureau_enquiry_30', 'bureau_123', 'bureau_317', 'bureau_428', 'bureau_125', 'bureau_415', 'bureau_431', 'bureau_318', 'transaction_attribute_99', 'transaction_attribute_441', 'bureau_59', 'transaction_attribute_516', 'bureau_126', 'bureau_357', 'bureau_418', 'bureau_31', 'bureau_400', 'bureau_66', 'transaction_attribute_437', 'bureau_5', 'bureau_417', 'transaction_attribute_331', 'onus_attribute_1', 'bureau_19', 'bureau_358', 'bureau_9', 'bureau_395', 'transaction_attribute_286', 'bureau_64', 'transaction_attribute_438', 'transaction_attribute_514', 'transaction_attribute_547', 'bureau_63', 'transaction_attribute_213', 'transaction_attribute_52', 'bureau_12', 'transaction_attribute_287', 'transaction_attribute_228', 'bureau_355', 'bureau_113', 'bureau_103', 'transaction_attribute_288', 'bureau_39', 'transaction_attribute_563', 'transaction_attribute_97', 'transaction_attribute_370', 'transaction_attribute_53', 'transaction_attribute_54', 'transaction_attribute_405', 'bureau_405', 'bureau_410', 'transaction_attribute_429', 'bureau_442', 'transaction_attribute_464', 'bureau_427', 'transaction_attribute_430', 'transaction_attribute_609', 'transaction_attribute_465', 'transaction_attribute_604', 'transaction_attribute_245', 'transaction_attribute_229', 'bureau_93', 'transaction_attribute_150', 'transaction_attribute_174', 'bureau_437', 'transaction_attribute_597']

In [ ]:
print(corr)

onus_attribute_2             0.108491
onus_attribute_17            0.103156
bureau_enquiry_11            0.073243
bureau_enquiry_21            0.072136
bureau_enquiry_31            0.070762
                               ...
bureau_147                   0.000060
transaction_attribute_321    0.000050
transaction_attribute_492    0.000028
onus_attribute_5             0.000012
transaction_attribute_426    0.000011
Name: bad_flag, Length: 368, dtype: float64